.main-nav {
    display: flex;
    height: 70px;
    color: #FFF;
    align-items: center;
    padding-left: 40px;
    margin-left: 0px;
    margin-right: 0px;

}
.nav-logo-text {
    white-space: nowrap;
    color: #FFF;
    width: 248px;
    height: 32px;
    left: 41px;
    top: 15px;
}
