.d-flex{
    padding-left: 120px;
    padding-top: 48px !important;
    padding-bottom: 265px;
    top: 595px;
}

.btn-start{
    
    width: 101px;
    height: 40px;
    top: 595px;
    left: 120px;
    border-radius:10px 10px 10px 10px;
    background-color: #33569b;
    justify-content: center;
   
}


