.btn-find{
    width: 101px;
    height: 40px;
    top: 595px;
    border-radius:10px 10px 10px 10px;
    background-color: #1890FF;
    justify-content: center;
 }

 .search-form-container{
    width: 1251px;
    height: 270px;
    background-color: #E6F7FF;
    padding-top: 66px;
    padding-left: 94px;
    padding-right: 481px;
    padding-bottom: 42px;
    border-radius: 16px;
}