.product-card {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.border-radius-10 {
    border-radius: 10px;
}

.card-base {
    background: #FFF;
}