.text-title {
    padding-top: 117px;
    padding-left: 120px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.015em;
    font-weight: 700;
}

.text-subtitle {
    white-space: nowrap;
    width: 612px;
    height: 216px;
    left: 120px;
    top: 331px;
    padding-left: 120px;
    padding-top:24px;
    padding-bottom: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-text {
    padding-left: 100px;
}
