.search-results-base{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #f0eaea;
    width:1251px;
    height: 387px;
    border-radius:16px;
}

.search-results-photo{
    order: 1;
    width: 278px;
    height: 268px;
}
.search-results-info{
    order: 2;
    margin-top: 24px;
    margin-left: 54px;
    width: 846px;
    height: 268px;
}
.search-results-button{
    margin-left: 30px;
    order: 3;

}

.first-line-results-data{
    display: flex;
}

.public-repos{
    background-color: #FFFFFF;
    
    width:163px;
    height:22px;
    border-radius: 5px;
    border: 3px solid #d9d9d9;
    font-size:12px;
    font-weight: normal;
    font-style: normal;
    align-items: center;
    
}

.followers{
    background-color: #FFFFFF;
    margin-left: 8px;
    width:163px;
    height:22px;
    border-radius: 5px;
    border: 3px solid #d9d9d9;
    font-size:12px;
    font-weight: normal;
    font-style: normal;
    align-items: center;
}

.following{
    background-color: #FFFFFF;
    margin-left: 8px;
    width:163px;
    height:22px;
    border-color: black;
    border-radius: 5px;
    border: 3px solid #d9d9d9;
    font-size:12px;
    font-weight: normal;
    font-style: normal;
    align-items: center;
}

.informations-card{
    margin-top: 11px;
    background: #f3f2f2;
    border: 3px solid #d9d9d9;
    border-radius: 6px;
    width: 870px;
    height: 247px;
    left: 358px;
    top: 56px;
    box-sizing: border-box;
}

.informations-card-font{
    
    margin-left: 14px;
    align-items: center;
    display: flex;
    color: #1890FF;
    width: 534px;
    height: 28px;
    left: 14px;
    top: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.info{
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 14px;
    margin-right: 17px;
    margin-bottom:5px;
    color: #737373;
}
