.search-results-base{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #f0eaea;
    width:1251px;
    height: 387px;
    border-radius:16px;
}

.search-results-photo{
    order: 1;
    width: 278px;
    height: 268px;
}
.search-results-info{
    order: 2;
    margin-top: 24px;
    margin-left: 54px;
    width: 846px;
    height: 268px;
}
.search-results-button{
    
    order: 3;

}
